# macOS hidden file
.DS_Store
# gradle
.gradle/
build/
.idea/
bin/
cache/
out/
# Tai-e output
output/
# Project analyzed
WebGoat/
# temp
temp/

src/test/

/benchmarks

/configs/http_ca.crt
/configs/vulns.json

